<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465167085496-c2rqir1ldu5u51qsg7i2bkhmg47bkg29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465167085496-c2rqir1ldu5u51qsg7i2bkhmg47bkg29</string>
	<key>API_KEY</key>
	<string>AIzaSyA0Olj081QfIA2U5SKDO9GtIj5mUI3KE0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>465167085496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapExam</string>
	<key>PROJECT_ID</key>
	<string>myfirsttest-b6891</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirsttest-b6891.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465167085496:ios:e88a7a20ad874fe5da294d</string>
</dict>
</plist>